dt.hero-specs-item {
  margin-bottom: -4px;
}

dd.hero-specs-item div {
  display: flex;
  align-items: center;
  gap: 1;
  padding: 4px 16px;
  min-width: 0px;
  max-width: 100%;
  min-height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--mui-palette-divider);
  border-radius: 12px;
  background-color: var(--mui-palette-background-default);
  overflow-x: scroll;
  scrollbar-width: none;
}
dd.hero-specs-item.no-box div {
  padding: 4px 0px;
  border-width: 0px;
}
